body  {
	margin: 0 auto;
	max-width: 960px ;
	background-image: url("../Images/terrazzo.png");
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.03em;
	max-width: 960px;
}


/* .all {
	min-width: 400px;
} */


.intro h1, .intro h2 {
	text-align: center;
}


/* li {
	margin: auto;
} */


.fonts #uppercase {
	text-transform: uppercase	;
	background-image: url();


}
.fonts #lowercase {
	text-transform: lowercase;
}

.fonts #capitalize {
	text-transform: capitalize;
}


/*Images*/

.boxmodel {
	float: right;
	max-height: 250px;
	max-width: 250px;
	margin-right: 8%;

}

#gr {
	float: right;


}

#gaa {
	float: right;
	max-width: 298px ;
	max-Height: 398px ;
}



	/*position: relative;
	right: 200px;*/



.selector {
	float: right;
	max-height: 350px;
	max-width: 350px;
	margin-right: 8%;

}

/* counter: */ 

 /* .list-all{
	counter-reset: my-counter;
	
} */
/* .list-all ol{
	list-style: none;
} */

.list-all{
	counter-reset: my-counter;
}
.Mainlist {
	counter-increment: my-counter;
	
}

.Mainlist h1 {
	display: inline;
}

.Mainlist::before {
 content:counter(my-counter)".  ";
 font-size: 2rem;
 
} 




#font {
	float: right;
	max-width: 300px;
	max-height: 300px;
	margin-right: 8%;


}

#color {
	float: right;
	width: 300px;
	position: relative;
	bottom: 100px;
	max-width: 150px;
	max-height: 150px;

}

#fr {
	float: right;
	position: relative;
	max-width: 300px;
	max-height: 300px;
	margin-right: 8%;

}

.Img-floatR {
	float: right;
	display: block;
} 

#screen {
	position: relative; 
	left: 10%;
} 